body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
    background-color: lightgreen;
    padding: 10px;
}

header img {
    height: 90px;
    width: 90px;
}

ul {
    font-size: 20px;
    background-color: li;
}

header {
    background-color: lightgreen;
    margin-bottom: 20px;
    padding: 10px;
}

header a {
    text-decoration: none;
}

main img{
    height: 500px;
    width: 500px;
}
